@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/0bce956472eb0c8779f735c5a0e70061.eot/a/1610/sc/101'),
        url('/fileservice/file/download/h/0bce956472eb0c8779f735c5a0e70061.eot/a/1610/sc/101?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/885bc4b14cd572bb60c02226a4d5dda5.woff/a/1610/sc/223') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/5e79f9527e47750dd42702bcc33da8a7.eot/a/1610/sc/157'),
        url('/fileservice/file/download/h/5e79f9527e47750dd42702bcc33da8a7.eot/a/1610/sc/157?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/52e1ead963089d3cc77a868898b6c935.woff/a/1610/sc/129') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/20fce965eb1405dd6ccfdf5c88100cf2.eot/a/1610/sc/333'),
        url('/fileservice/file/download/h/20fce965eb1405dd6ccfdf5c88100cf2.eot/a/1610/sc/333?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/2d578c52de38b8c362549bfd0fc5158b.woff/a/1610/sc/204') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/462b0c5e61f9db302ab3cd549e3ad4f9.eot/a/1610/sc/283'),
        url('/fileservice/file/download/h/462b0c5e61f9db302ab3cd549e3ad4f9.eot/a/1610/sc/283?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/4f94db7ecea83166bd1c1dd7c8fada9f.woff/a/1610/sc/490.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/7221c02096d4071aa58c944295e3ed2d.eot/a/1610/sc/42'),
        url('/fileservice/file/download/h/7221c02096d4071aa58c944295e3ed2d.eot/a/1610/sc/42?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/9e93e5737d6e047c076f9baa461dee8d.woff/a/1610/sc/263') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/97a23eafe9754aea229a8fcf7e7a15e6.eot/a/1610/sc/353'),
        url('/fileservice/file/download/h/97a23eafe9754aea229a8fcf7e7a15e6.eot/a/1610/sc/353?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/92a8350c875020b61945d66ca081fd12.woff/a/1610/sc/506') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/название.otf/a/1610/sc/номерRegularItalic.eot'),
        url('/fileservice/file/download/h/название.otf/a/1610/sc/номерRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/название.otf/a/1610/sc/номерRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/81e7d09bfd0efa0782e6a9815835c697.eot/a/1610/sc/167'),
        url('/fileservice/file/download/h/81e7d09bfd0efa0782e6a9815835c697.eot/a/1610/sc/167?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/df884d70af9418b25ce2c9c334c5023f.woff/a/1610/sc/197') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/c1fee7528a28d80af5c37c4249570eb5.eot/a/1610/sc/200'),
        url('/fileservice/file/download/h/c1fee7528a28d80af5c37c4249570eb5.eot/a/1610/sc/200?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/d95a0953e24e59bb438abb88dd599952.woff/a/1610/sc/168') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/a5440fe07d211992efd344f04ec893ad.eot/a/1610/sc/193'),
        url('/fileservice/file/download/h/a5440fe07d211992efd344f04ec893ad.eot/a/1610/sc/193?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/a78c1af563d52fd39b67828f8733d153.woff/a/1610/sc/115') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fileservice/file/download/h/457004bb34bf25ad100fe86de40d63ec.eot/a/1610/sc/223'),
        url('/fileservice/file/download/h/457004bb34bf25ad100fe86de40d63ec.eot/a/1610/sc/223?#iefix') format('embedded-opentype'),
        url('/fileservice/file/download/h/9123ae4289daba7ac2703706b6b68968.woff/a/1610/sc/103') format('woff');
    font-weight: 900;
    font-style: normal;
}

