html,
body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

$mb: 960px;
$tb: 1200px;

.cont {
    position: relative;
    max-width: 1200px;
    padding: 0 12px;
    margin: 0 auto;
    font-family: "Gilroy", sans-serif;

    @media (max-width: $tb) {
        max-width: 960px;
    }
    @media (max-width: $mb) {
        max-width: 320px;
        padding: 0;
    }
}
.runline {
    display: none;
    position: absolute;
    top: 50px;
    width: 4000px;
    height: 30px;
    background-color: #ffe785;
    color: #000;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    animation: runline 5s linear 0s infinite;
    @keyframes runline {
        from {
            left: 0;
        }
        to {
            left: -689.48px;
        }
    }
}
h1 {
    font-size: 48px;
    font-weight: 700;
    @media (max-width: $tb) {
        font-size: 24px;
    }
}
h2 {
    font-size: 36px;
    font-weight: 700;
    @media (max-width: $tb) {
        font-size: 24px;
    }
}
p {
    font-size: 24px;
    @media (max-width: $tb) {
        font-size: 18px;
    }
}
.thin {
    font-weight: 100;
}
.normal {
    font-weight: 400;
}
.bold {
    font-weight: 600;
}
.bolder {
    font-weight: 800;
}
a.button {
    display: block;
    background-color: #ffe785;
    transition: 0.3s;
    max-width: 420px;
    margin: 40px 0;
    height: 70px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 900;
    font-size: 36px;
    line-height: 70px;
    color: #1c1c1c;
    text-align: center;
    &:hover {
        box-shadow: 0 0 10px #ffe785;
    }
    @media (max-width: $mb) {
        height: 50px;
        font-size: 24px;
        line-height: 50px;
    }
}
#main {
    color: #fff;
    background-color: #242229;
    padding: 110px 0 50px;
    .logo {
        display: flex;
        align-items: flex-end;
        &__txt {
            font-size: 18px;
            line-height: 21px;
            color: #ffffff;
            max-width: 235px;
            margin-left: 20px;
            font-weight: 300;
        }
    }
    .heading {
        max-width: 700px;
        h1 {
            font-weight: 400;
            margin: 40px 0;
        }
        p {
            font-size: 20px;
            line-height: 23px;
            font-weight: 300;
        }
    }
    .photo {
        position: absolute;
        right: 0;
        top: -20px;
        &__blur {
            position: absolute;
            width: 150px;
            height: 150px;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            box-shadow: 0 0 150px #ffe785;
            border-radius: 50%;
        }
        &__circle {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
            animation: rotate 10s linear infinite;
            @keyframes rotate {
                from {
                    transform: translate(-50%, 50%) rotate(0deg);
                }
                to {
                    transform: translate(-50%, 50%) rotate(-360deg);
                }
            }
        }
        &__arrow {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
        &__link {
            position: absolute;
            bottom: -20px;
            right: 30px;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            color: #fff;
        }
    }
    @media (max-width: $tb) {
        border: 1px solid #242229;
        padding: 110px 0 0;
        .heading {
            max-width: 400px;
        }
    }
    @media (max-width: $mb) {
        display: flex;
        flex-direction: column;
        justify-content: right;
        .photo {
            top: 100px;
            right: -28px;
            width: 231px;
            height: 273px;
            &__ph {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &__blur {
                display: none;
            }
            &__circle {
                width: 85px;
                height: 85px;
            }
            &__link {
                font-size: 8px;
            }
        }
        .heading {
            margin-top: 373px;
            h1 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}
#prizes {
    padding: 80px 0 10px;
    background-color: #242229;
    color: #fff;
    overflow: hidden;
    h2 {
        margin: 55px 0;
        max-width: 650px;
        font-weight: 400;
    }
    p {
        font-weight: 200;
        max-width: 560px;
    }
    .arrows {
        display: flex;
        margin-top: 60px;
        gap: 20px;
    }
    .slider-radial {
        position: absolute;
        width: 820px;
        height: 820px;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 55px;
        right: 0;
        transition: 1s;
        transform: translateX(50%);
        &__slide {
            transition: 1s;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            transform: translate(-50%, -50%);

            &__content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &__img {
                display: block;
                margin: 0 auto;
            }
            &__txt {
                text-align: center;
                font-weight: 800;
                font-size: 22px;
                line-height: 26px;
                width: 300px;
                margin-top: 10px;
            }
            &:nth-child(1) {
                top: 0;
                left: 50%;
                box-shadow: 0 0 70px 30px #ffe785;
            }
            &:nth-child(2) {
                top: 17%;
                left: 24%;
                box-shadow: 0 0 150px 50px #a190f8;
            }
            &:nth-child(3) {
                top: 50%;
                left: 0;
                box-shadow: 0 0 70px 30px #ffe785;
            }
            &:nth-child(4) {
                top: 85%;
                left: 15%;
            }
            &:nth-child(5) {
                top: 95%;
                left: 50%;
                opacity: 0;
            }
        }
    }
    a.button {
        background-color: #a190f8;
        margin-top: 50px;
        &:hover {
            box-shadow: 0 0 10px #a190f8;
        }
    }
    .bonuses {
        margin-top: 50px;
        h3 {
            font-size: 24px;
            margin: 0;
        }
        p {
            font-size: 20px;
            display: flex;
            align-items: center;
            &:before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                background-color: #ffe785;
                border-radius: 50%;
                flex: 0 0 auto;
                margin-right: 20px;
                margin-left: 5px;
                box-shadow: 0 0 5px 5px #ffe785;
            }
        }
    }
    @media (max-width: $tb) {
        .slider-radial {
            order: 3;
            // position: absolute;
            width: 400px;
            height: 400px;
            margin: 50px 0 150px;
            right: 120px;
            pointer-events: none;
            &__slide {
                width: 20px;
                height: 20px;
                &:nth-child(1) {
                    top: 0;
                    left: 35%;
                    box-shadow: 0 0 80px 40px #ffe785;
                    .slider-radial__slide__img {
                        width: 115px;
                    }
                }
                &:nth-child(2) {
                    top: 50%;
                    left: 0%;
                    box-shadow: 0 0 150px 100px #a190f8;
                    .slider-radial__slide__img {
                        width: 115px;
                    }
                }
                &:nth-child(3) {
                    top: 100%;
                    left: 35%;
                    box-shadow: 0 0 90px 30px #ffe785;
                    .slider-radial__slide__img {
                        width: 130px;
                    }
                }
                &:nth-child(4) {
                    top: 80%;
                    left: 95%;
                    .slider-radial__slide__img {
                        width: 105px;
                    }
                }
                &:nth-child(5) {
                    top: 25%;
                    left: 90%;
                    opacity: 1;
                    .slider-radial__slide__img {
                        width: 105px;
                    }
                }
                &__txt {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
    @media (max-width: $mb) {
        padding-top: 0;
        .cont {
            display: flex;
            flex-direction: column;
        }
        h2 {
            order: 1;
            font-size: 22px;
            line-height: 27px;
            margin: 0;
        }
        p {
            order: 4;
            font-size: 18px;
            line-height: 22px;
        }
        .arrows {
            order: 2;
            margin-top: 20px;
        }
        .slider-radial {
            position: relative;
        }
        a.button {
            order: 6;
        }
        .bonuses {
            order: 5;
            h3 {
                font-size: 18px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
#mission {
    background-image: url("img/mission_bg.jpg");
    background-size: cover;
    background-position: center;
    z-index: 10;
    padding: 80px 0;
    .block {
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            color: #a190f8;
            font-weight: 900;
            font-size: 48px;
            line-height: 60px;
            text-align: right;
            width: 415px;
            margin: 0;
        }
        .arrow {
            margin: 0 70px;
        }
        p {
            width: 415px;
            color: #fff;
            margin: 0;
        }
    }
    a.button {
        color: #fff;
        background-color: #a190f8;
        margin: 60px auto 0;
        max-width: 440px;
        &:hover {
            box-shadow: 0 0 10px #a190f8;
        }
    }

    @media (max-width: $mb) {
        padding: 40px 0;
        background-image: url("img/mission_bg_m.jpg");
        .block {
            display: flex;
            flex-direction: column;
            h3 {
                text-align: center;
                font-size: 30px;
            }
            .arrow {
                margin: 20px 0;
            }
            p {
                text-align: center;
                font-size: 24px;
            }
        }
    }
}
#olga {
    padding: 80px 0;
    h1 {
        font-weight: 800;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 440px;
            height: 440px;
            border-radius: 50%;
            background-color: #ffe785;
            top: -150px;
            right: -250px;
            filter: blur(120px);
        }
    }
    h2 {
        span {
            text-decoration: underline;
        }
    }
    p {
        max-width: 480px;
        margin: 0;
    }
    .quote {
        margin-top: 40px;
        display: flex;
        align-items: center;
        position: relative;
        &__txt {
            display: flex;
            font-weight: bold;
            font-size: 42px;
            line-height: 51px;
            max-width: 800px;
            margin-left: 50px;
            &::before {
                content: "";
                flex: 0 0 auto;
                display: block;
                background-color: #d8d2f3;
                width: 5px;
                height: 138px;
                margin-right: 7px;
                box-shadow: 0 0 10px #d8d2f3;
                transform: translateY(7px);
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background-color: #a190f8;
            filter: blur(122px);
            top: -200px;
            left: -400px;
            z-index: -1;
        }
        &.d {
            display: flex;
        }
        &.m {
            display: none;
        }
    }
    .block {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
        margin-top: 40px;
        padding-bottom: 100px;
        .item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 260px;
            height: 200px;
            background-color: #ffe785;

            font-size: 220px;
            font-weight: 900;
            color: #ffe785;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(0, 0, 0, 0.12);

            pointer-events: none;

            span {
                position: absolute;
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                color: #000;
            }
        }
        &.vel {
            padding-bottom: 140px;
            .item {
                background-color: #a190f8;
                color: #a190f8;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 700px;
                height: 1px;
                background-color: #242229;
                bottom: 70px;
            }
        }
    }
    .more {
        padding: 40px;
        background-color: #242229;
        color: #fff;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 450px;
            height: 450px;
            background-color: #ffe785;
            border-radius: 50%;
            filter: blur(120px);
            top: -200px;
            right: -100px;
        }

        .list {
            display: flex;
            gap: 300px;
            &__item {
                position: relative;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                padding-left: 30px;
                margin-bottom: 15px;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #ffe785;
                    border-radius: 50%;
                    left: 0;
                    filter: blur(1px);
                }
            }
        }
    }
    .chat {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        &__msg {
            display: block;
            background-color: #ffe785;
            position: relative;
            margin-top: 20px;
            padding: 25px 20px;
            font-size: 30px;
            line-height: 35px;
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 0px;
                border-bottom: 30px solid #ffe785;
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                z-index: -1;
            }
            &:nth-child(1) {
                width: 575px;
                &::before {
                    left: 0;
                    transform: translate(-50%, 20px);
                }
            }
            &:nth-child(2) {
                width: 640px;
                align-self: flex-end;
                &::before {
                    right: 0;
                    transform: translate(50%, 20px);
                }
            }
        }
    }
    .system {
        position: relative;
        .blur1,
        .blur2 {
            position: absolute;
            filter: blur(120px);
            background-color: #ffe785;
            z-index: -1;
        }
        .blur1 {
            width: 300px;
            height: 300px;
            top: -100px;
            right: -100px;
        }
        .blur2 {
            width: 200px;
            height: 200px;
            bottom: -100px;
            left: -200px;
            filter: blur(120px);
        }
        h2 {
            max-width: 640px;
            text-align: center;
            margin: 0 auto;
            font-weight: 400;
            margin-top: 80px;
        }
        .path {
            left: 50%;
            width: 2px;
            background-color: #ffe785;
            margin: 50px auto;

            &__item {
                position: relative;
                box-sizing: border-box;
                padding: 0 40px;
                margin: 15px 0;
                font-size: 24px;
                line-height: 28px;

                &:nth-child(1) {
                    width: 415px;
                }
                &:nth-child(2) {
                    width: 580px;
                }
                &:nth-child(3) {
                    width: 570px;
                }
                &:nth-child(4) {
                    width: 570px;
                }
                &::before {
                    content: "";
                    display: block;
                    width: 16px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #ffe785;
                    position: absolute;
                    top: 50%;
                }
                &:nth-child(odd) {
                    text-align: right;
                    transform: translateX(-100%);
                    &::before {
                        right: -1px;
                        transform: translateX(50%);
                    }
                }
                &:nth-child(even) {
                    right: 0;
                    &::before {
                        left: 1px;
                        transform: translateX(-50%);
                    }
                }
            }
        }
        .underline {
            max-width: 700px;
            height: 1px;
            background-color: #242229;
            margin: 90px auto;
        }
    }
    .foryou {
        padding-top: 80px;
        .block {
            display: flex;
            padding: 0;
            &__item {
                flex: 0 0 auto;
                margin-top: 100px;
                &__pic {
                    position: relative;
                    width: 110px;
                    height: 115px;
                    display: flex;
                    align-items: flex-end;
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        top: 30%;
                        left: 40%;
                        transform: translate(-50%, -50%);
                        filter: blur(70px);
                        background-color: #a190f8;
                        z-index: -1;
                    }
                }
                &__head {
                    max-width: 370px;
                    font-size: 32px;
                    font-weight: 600;
                    margin-top: 30px;
                }
                p {
                    margin-top: 30px;
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 500;
                    max-width: 530px;
                }
            }
        }
    }

    @media (max-width: $mb) {
        padding: 30px 0;
        h1 {
            position: relative;
            &::after {
                width: 240px;
                height: 240px;
                top: -150px;
                right: unset;
                left: -50px;
                z-index: -1;
            }
        }
        h2 {
            span {
                text-decoration: underline;
                &::after {
                    content: "";
                    display: block;
                    margin-bottom: 10px;
                }
            }
        }
        p {
            max-width: 480px;
            margin: 0;
        }
        .quote {
            flex-direction: column;
            &__photo {
                width: 180px;
            }
            &__txt {
                position: relative;
                margin: 20px 0;
                font-size: 24px;
                line-height: 30px;
                text-align: right;
                &::before {
                    order: 2;
                    margin: 0 0 0 10px;
                    height: 170px;
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 200px;
                    height: 1px;
                    background-color: #242229;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .blur {
                    width: 200px;
                    height: 200px;
                    filter: blur(90px);
                    top: -400px;
                    right: -100px;
                }
            }
            &.d {
                display: none;
            }
            &.m {
                display: block;
                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 20px;
                }
            }
            &::after {
                left: unset;
                top: -50px;
                right: -50px;
                width: 200px;
                height: 200px;
            }
        }
        .block {
            gap: 30px;
            .item {
                height: 177px;
            }
        }
        .more {
            &::before {
                width: 350px;
                height: 350px;
                top: -200px;
                right: -200px;
            }
            .list {
                flex-direction: column;
                gap: 0;
            }
        }
        .chat {
            margin-top: 30px;
            &__msg {
                font-size: 16px;
                line-height: 22px;
                padding: 10px;
                &:nth-child(1) {
                    width: 285px;
                    &::before {
                        left: 0;
                        transform: translate(-50%, 20px);
                    }
                }
                &:nth-child(2) {
                    width: 270px;
                    align-self: flex-end;
                    &::before {
                        right: 0;
                        transform: translate(50%, 20px);
                    }
                }
            }
        }
        .system {
            h2  {
                margin-top: 50px;
                span::after {
                    display: none;
                }
            }
            .blur1 {
                width: 200px;
                height: 200px;
                filter: blur(70px);
            }
            .blur2 {
                display: none;
            }
            .path {
                margin: 50px 0 0;
                &__item {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 18px;
                    &:nth-child(even),
                    &:nth-child(odd) {
                        text-align: left;
                        transform: translateX(0);
                        &::before {
                            left: 1px;
                            transform: translateX(-50%);
                        }
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 355px;
                    }
                }
            }
            .underline {
                width: 200px;
                margin: 40px auto;
            }
        }
        .foryou {
            padding-top: 0;
            h2 {
                margin: 0;
            }
            .block {
                flex-direction: column;
                &__item {
                    margin: 0 auto 20px;
                    &__pic {
                        width: 70px;
                        margin: 0 auto;
                        img {
                            width: 100%;
                        }
                        &::before {
                            width: 100px;
                            height: 100px;
                            filter: blur(70px);
                            transform: translate(-50%, -10%);
                        }
                    }
                    &__head {
                        font-size: 20px;
                        text-align: center;
                    }
                    p {
                        font-size: 16px;
                        line-height: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
#platform {
    padding: 80px 0;
    background-color: #242229;
    color: #fff;

    h2 {
        margin: 0 0 75px;
    }

    .screen {
        display: flex;
        position: relative;

        .blur {
            width: 200px;
            height: 200px;
            background-color: #ffe785;
            position: absolute;
            filter: blur(120px);
            left: -200px;
            top: -50px;
        }
        &__pic {
            position: relative;
            width: 620px;
            height: 495px;
            margin: 0 auto;
            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url(img/screen.png);
            }
            img {
                transition: 0.7s;
                position: absolute;
                top: 25px;
                left: 20px;
                opacity: 0;
                &.active {
                    opacity: 1;
                }
            }
        }
        &__list {
            &-item {
                cursor: pointer;
                width: 465px;
                height: 60px;
                border-radius: 30px;
                margin-bottom: 60px;
                margin-left: 56px;
                border: 1px solid #fff;

                font-size: 30px;
                line-height: 60px;
                text-align: center;
            }
        }
    }

    @media (max-width: $tb) {
        padding: 60px 0;
        .screen {
            flex-direction: column;
            .blur {
                filter: blur(100px);
                left: -100px;
                top: -150px;
            }
            &__pic {
                width: 310px;
                height: 250px;
                &::after {
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                img {
                    width: 290px;
                    top: 10px;
                    left: 10px;
                }
            }
            &__list {
                margin-top: 25px;
                &-item {
                    max-width: 300px;
                    height: 40px;
                    margin: 0 auto 15px;
                    font-size: 18px;
                    line-height: 40px;
                }
            }
        }
    }
}
#reviews {
    padding: 80px 0;
    background-color: #242229;
    color: #fff;
    position: relative;
    .line {
        width: 700px;
        height: 1px;
        background-color: #ffe785;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .slider-wrap {
        position: relative;
        .arrows {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            margin-top: 30px;

            text-align: center;
            font-size: 16px;
            font-weight: 500;
            .count {
                width: 60px;
                height: 20px;
            }
        }
        .blur {
            width: 300px;
            height: 300px;
            filter: blur(100px);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            background-color: #ffe785;
        }
    }
    .slider-reviews {
        .slide {
            position: relative;
            width: 224px;
            height: 418px;
            margin: 37px 30px;
            transition: 0.3s;
            filter: saturate(0);
            &.slick-current {
                width: 264px;
                height: 493px;
                margin: 0 30px;
                filter: saturate(1);
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(img/slide_frame.svg);
                background-size: contain;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-color: #fafafa;
                border-radius: 40px;
            }
        }
    }
    @media (max-width: $mb) {
        padding: 10px 0 30px;
        .line {
            display: none;
        }
    }
}
#teachers {
    padding: 80px 0;
    h2 {
        margin: 0;
    }
    h3 {
        margin: 20px 0;
        font-weight: 500;
        font-size: 30px;
        max-width: 620px;
    }

    .teacher {
        display: flex;
        gap: 150px;
        margin-top: 40px;
        &__photo {
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 250px;
                height: 250px;
                position: absolute;
                z-index: -1;
                filter: blur(100px);
                top: 0;
                right: 0;
                transform: translateX(30%);
                background-color: #a190f8;
            }
            &__pic {
                border-radius: 50%;
            }
            &__name {
                text-align: center;
                &-first {
                    font-weight: 900;
                    font-size: 72px;
                }
                &-last {
                    font-weight: 700;
                    font-size: 36px;
                }
            }
        }
        &__txt {
            max-width: 590px;
            p {
                position: relative;
                font-size: 20px;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    background-image: url("img/blue_star.svg");
                    left: -30px;
                    transform: translateX(-100%);
                }
            }
        }

        &:nth-child(2) {
            flex-direction: row-reverse;
            .teacher__photo {
                &::before {
                    top: 0;
                    right: unset;
                    left: 0;
                    transform: translateX(-30%);
                    background-color: #ffe785;
                }
            }
            .teacher__txt {
                p {
                    &::before {
                        background-image: url("img/ylw_star.svg");
                    }
                }
            }
        }
    }

    @media (max-width: $mb) {
        h3 {
            margin: 20px 0;
            font-size: 18px;
            max-width: 300px;
        }
        .teacher {
            flex-direction: column;
            gap: 30px;
            &__photo {
                max-width: 270px;
                margin: 0 auto;
                &__name {
                    &-first {
                        font-size: 48px;
                    }
                    &-last {
                        font-size: 24px;
                    }
                }
                img {
                    width: 100%;
                }
            }
            &__txt {
                p {
                    padding-left: 35px;
                    font-size: 16px;
                    &::before {
                        left: 0;
                        transform: translateX(0%);
                    }
                }
            }

            &:nth-child(2) {
                flex-direction: column;
            }
        }
    }
}
#plans {
    position: relative;
    padding: 80px 0;
    background-color: #232228;
    color: #fff;
    h2 {
        margin: 0;
    }
    .analysis {
        padding-left: 100px;
        &__head {
            position: relative;
            display: inline-block;
            font-weight: 700;
            font-size: 42px;
            text-transform: uppercase;
            margin-top: 40px;
            &::before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #a190f8;
                filter: blur(29px);
            }
            span {
                position: relative;
            }
        }
        &__condition {
            font-size: 24px;
            line-height: 27px;
            font-weight: 100;
            margin-top: 15px;
        }
        &__content {
            margin-top: 40px;
            display: flex;
            &-head {
                font-size: 24px;
                font-weight: 600;
            }
            &-list {
                p {
                    position: relative;
                    font-size: 24px;
                    font-weight: 400;
                    margin: 0 0 10px 200px;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: "";
                        display: block;
                        width: 15px;
                        height: 15px;
                        filter: blur(7px);
                        background-color: #a190f8;
                        position: absolute;
                        left: -40px;
                    }
                }
            }
        }
    }
    .block {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 200px;
            height: 200px;
            background-color: #a190f8;
            filter: blur(100px);
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }
    }
    .plan {
        position: relative;
        max-width: 340px;
        color: #242229;
        background-color: #fff;
        padding: 30px 0;
        text-align: center;
        &__bonus {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
        }
        &__duration {
            font-size: 26px;
            font-weight: 500;
            text-transform: uppercase;
        }
        &__line {
            width: 280px;
            height: 1px;
            margin: 10px auto 0;
            background-color: #a190f8;
        }
        &__price {
            margin: 15px auto 0;
            height: 65px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-new {
                font-weight: 700;
                font-size: 30px;
            }
            &-old {
                display: flex;
                justify-content: center;
                gap: 10px;
                font-weight: 600;
                font-size: 22px;
                &__s {
                    text-decoration: line-through;
                    color: #adadad;
                }
                &__r {
                    color: #b53535;
                }
            }
        }
        &__get {
            margin: 10px auto 0;
            font-weight: 500;
            font-size: 18px;
            &-list {
                text-align: left;
                p {
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 33px;
                    &::before {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-image: url("img/blue_star.svg");
                        background-size: contain;
                        left: 10px;
                    }
                }
            }
        }
        a.button {
            max-width: 280px;
            font-size: 24px;
            background-color: #a190f8;
            margin: 0 auto;

            &:hover {
                box-shadow: 0 0 10px #a190f8;
            }
        }
        &.ylw {
            .plan__line {
                background-color: #ffe785;
            }
            .plan__get {
                &-list {
                    p {
                        &::before {
                            background-image: url("img/ylw_star.svg");
                        }
                    }
                }
            }
            a.button {
                max-width: auto;
                background-color: #ffe785;

                &:hover {
                    box-shadow: 0 0 10px #ffe785;
                }
            }
        }
    }
    .bonus {
        margin-top: 50px;
        position: relative;
        &__head {
            font-weight: 600;
            font-size: 24px;
        }
        &__list {
            margin-top: 20px;
            p {
                position: relative;
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 23px;
                margin: 0 0 10px;
                padding-left: 35px;
                max-width: 580px;
                font-weight: 200;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    filter: blur(5px);
                    background-color: #ffe785;
                    left: 0;
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 250px;
            height: 250px;
            background-color: #a190f8;
            border-radius: 50%;
            filter: blur(80px);
            top: 0;
            right: 0;
        }
    }
    .books {
        padding: 0 0 100px;
        display: flex;
        margin-top: 45px;
        &__head {
            flex: 0 0 auto;
            padding-top: 35px;
            font-size: 24px;
            font-weight: 200;
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 370px;
                height: 20px;
                left: -5px;
                background-color: #a190f8;
                filter: blur(20px);
            }
            span {
                position: relative;
                line-height: 28px;
            }
        }
        &__det {
            display: flex;
            position: relative;
            align-items: flex-end;
            gap: 25px;
            margin: 0 20px;
            &__book {
                &-price {
                    position: absolute;
                    color: #ccc;
                    text-decoration: line-through;
                    font-size: 24px;
                    font-weight: 500;
                    bottom: -50px;
                }
                &:nth-child(1) {
                    .books__det__book-price {
                        left: -20px;
                    }
                }
                &:nth-child(2) {
                    .books__det__book-price {
                        right: -20px;
                    }
                }
            }
            &-free {
                position: absolute;
                bottom: -55px;
                left: 50%;
                transform: translateX(-50%);

                font-weight: 900;
                font-size: 30px;
                color: #a190f8;
            }
        }
        &__txt {
            align-self: flex-end;
            max-width: 330px;
            font-size: 24px;
        }
    }
    .runline {
        top: unset;
        bottom: 30px;
    }

    @media (max-width: $tb) {
        .analysis {
            padding: 0;
            &__head {
                font-size: 34px;
            }
            &__condition {
                font-size: 14px;
                line-height: 20px;
                max-width: 200px;
            }
            &__content {
                flex-direction: column;
                margin-top: 15px;
                &-list {
                    p {
                        margin: 10px 0;
                        padding-left: 50px;
                        font-size: 16px;
                        &::before {
                            left: 5px;
                        }
                    }
                }
            }
        }
        .plans-wrap {
            width: 380px;
            margin-left: -30px;
        }
        .block {
            margin-top: 0;
        }
        .plan {
            margin: 50px 40px;
            max-width: 300px;
            &__duration {
                font-size: 22px;
            }
            &__get {
                font-size: 16px;
                &-list {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .bonus {
            &__head {
                font-size: 18px;
            }
            &__list {
                p {
                    font-size: 16px;
                }
            }
            &::before {
                display: none;
            }
        }
        .books {
            flex-direction: column;
            &__head {
                text-align: center;
                font-size: 18px;
                line-height: 22px;
                &::before {
                    display: none;
                }
            }
            &__det {
                margin: 20px 0 0;
                justify-content: center;
                gap: 20px;
                &__book {
                    max-width: 125px;
                    img {
                        width: 100%;
                    }
                    &-price {
                        position: relative;
                        text-align: center;
                        left: 0;
                    }
                }
                &:nth-child(1),
                &:nth-child(2) {
                    .books__det__book-price {
                        left: 0;
                        right: 0;
                        font-size: 20px;
                    }
                }
                &-free {
                    bottom: -100px;
                    font-size: 24px;
                }
            }
            &__txt {
                margin: 120px auto 0;
                text-align: center;
                font-size: 18px;
            }
        }
    }
}
#footer {
    padding: 70px 30px 20px;
    font-family: "Gilroy";

    .line {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 10px;

        .soc {
            display: flex;

            .r {
                margin-right: 10px;
            }
        }

        .phone {
            a {
                color: #000;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
            }

            p {
                margin: 0;
                color: #434141;
                font-size: 14px;
            }

            text-align: right;
        }

        &:last-child {
            border: 0;
            margin-top: 10px;
        }

        .conf {
            font-family: "Gilroy";
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            color: #b5afaf;
        }

        .company {
            font-weight: bold;
            font-size: 18px;
        }

        .phone-m {
            display: none;
        }
    }

    @media (max-width: 1024px) {
        .line {
            flex-direction: row-reverse;

            .phone {
                display: none;
            }

            .conf {
                display: none;
            }

            .company {
                display: none;
            }

            .phone-m {
                display: block;
                text-align: center;
                float: none;
                width: 100%;
            }
        }
    }
}
