// route transition
.slideleft {
  &-enter-from {
    opacity: 0;
    transform: translateX(100%);
  }

  &-enter-to {
    opacity: 1;
    transform: translateX(0%);
  }

  &-leave-from {
    opacity: 1;
    transform: translateX(0%);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }

  &-enter-active,
  &-leave-active {
    transition: 0.5s ease-out;
  }

  &-leave-active {
    position: absolute;
  }
}

.slideright {
  &-enter-from {
    opacity: 0;
    transform: translateX(-100%);
  }

  &-enter-to {
    opacity: 1;
    transform: translateX(0%);
  }

  &-leave-from {
    opacity: 1;
    transform: translateX(0%);
  }

  &-leave-to {
    opacity: 0;
    transform: translateX(100%);
  }

  &-enter-active,
  &-leave-active {
    transition: 0.5s ease;
  }

  &-leave-active {
    position: absolute;
  }
}
