@font-face {
  font-family: "Artegra Sans";
  src: url("../fonts/ArtegraSans-ExtraBold.eot");
  src: local("Artegra Sans ExtraBold"), local("ArtegraSans-ExtraBold"), url("../fonts/ArtegraSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArtegraSans-ExtraBold.woff2") format("woff2"), url("../fonts/ArtegraSans-ExtraBold.woff") format("woff"), url("../fonts/ArtegraSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Artegra Sans";
  src: url("../fonts/ArtegraSans-Black.eot");
  src: local("Artegra Sans Black"), local("ArtegraSans-Black"), url("../fonts/ArtegraSans-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ArtegraSans-Black.woff2") format("woff2"), url("../fonts/ArtegraSans-Black.woff") format("woff"), url("../fonts/ArtegraSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Artegra Sans";
  src: url("../fonts/ArtegraSans-Bold.eot");
  src: local("Artegra Sans Bold"), local("ArtegraSans-Bold"), url("../fonts/ArtegraSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArtegraSans-Bold.woff2") format("woff2"), url("../fonts/ArtegraSans-Bold.woff") format("woff"), url("../fonts/ArtegraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Artegra Sans";
  src: url("../fonts/ArtegraSans-SemiBold.eot");
  src: local("Artegra Sans SemiBold"), local("ArtegraSans-SemiBold"), url("../fonts/ArtegraSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArtegraSans-SemiBold.woff2") format("woff2"), url("../fonts/ArtegraSans-SemiBold.woff") format("woff"), url("../fonts/ArtegraSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Artegra Sans", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1160px;
  width: 100%;
}

@media (max-width: 959px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 300px;
  }
}

.left {
  padding-left: calc(50vw - 580px - 15px);
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media (max-width: 959px) {
  .left {
    padding-left: calc(50vw - 460px - 15px);
  }
}

@media (max-width: 767px) {
  .left {
    padding-left: calc(50vw - 150px - 15px);
  }
}

.right {
  padding-right: calc(50vw - 580px - 15px);
}

@media (max-width: 959px) {
  .right {
    padding-right: calc(50vw - 460px - 15px);
  }
}

@media (max-width: 767px) {
  .right {
    padding-right: calc(50vw - 150px - 15px);
  }
}

.accent {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 10px 10px;
  line-height: 32px;
  font-size: 30px;
  max-width: 460px;
  margin: 0 auto;
}

.header {
  min-height: 540px;
  background-color: #1a1a1a;
  background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
  background-repeat: no-repeat;
  background-position: 100px 150px, right top;
  padding-top: 28px;
}

.header__runline {
  background-color: #ff613a;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 32px;
}

.header__runline-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 955px;
  height: 65px;
  -webkit-animation: runline 12s linear 0s infinite;
          animation: runline 12s linear 0s infinite;
}

.header__runline-content .star {
  width: 38px;
  height: 38px;
  margin: 0 65px;
  background-image: url("../img/header_star.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.header__runline-content .black {
  color: #1a1a1a;
  font-size: 24px;
}

.header__runline-content .white {
  color: #fefbf3;
  font-size: 28px;
}

@-webkit-keyframes runline {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes runline {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header__text {
  color: #fefbf3;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  max-width: 640px;
  margin: 100px auto 0;
}

.header__text .accent {
  background-color: #ff613a;
}

@media (max-width: 1359px) {
  .header {
    padding-top: 18px;
    min-height: 420px;
    background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
    background-size: 200px, 300px;
    background-position: 75px 150px, right top;
  }
  .header__runline-content {
    min-width: 335px;
    height: 26px;
  }
  .header__runline-content .star {
    width: 16px;
    height: 16px;
    margin: 0 10px;
  }
  .header__runline-content .black {
    font-size: 10px;
  }
  .header__runline-content .white {
    font-size: 12px;
  }
  .header__text {
    font-size: 18px;
    line-height: 26px;
    max-width: 400px;
  }
  .header__text .accent {
    padding: 10px 10px 5px;
    font-size: 18px;
    line-height: 26px;
    max-width: 260px;
  }
}

@media (max-width: 959px) {
  .header {
    background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
    background-position: 0 60px, right top;
    background-size: 170px, 200px;
    min-height: 300px;
  }
  .header__text {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    background-image: url("../img/header_logo.svg"), url("../img/header_camera_m.jpg");
    background-size: 170px, auto;
    background-position: 0 60px, right top;
    min-height: 460px;
  }
  .header__text {
    max-width: 280px;
    margin-top: 220px;
    text-align: left;
  }
  .header__text .accent {
    text-align: left;
    margin: 0;
    padding: 5px 5px 2px;
  }
}

.get {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 370px;
  background-color: #00a388;
}

.get__black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  background-color: black;
  background-image: url("../img/get_pioner.jpg");
  background-position: 650% bottom;
  background-repeat: no-repeat;
  -webkit-animation: bg_slideIn 0.5s linear 1s;
          animation: bg_slideIn 0.5s linear 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.get__black-text {
  background-image: url("../img/get_arrows.svg");
  background-repeat: no-repeat;
  background-position: 15px top;
  text-shadow: 2px 2px 0 black;
  -webkit-text-stroke: 1px black;
  font-weight: 500;
  padding-top: 60px;
  padding-left: 15px;
  max-width: 275px;
  color: #e7e4da;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.get__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background-image: url("../img/get_bulat.jpg");
  background-position: center 30%;
  background-size: cover;
  background-color: #00a388;
}

.get__video-play {
  display: block;
  border: 2px solid rgba(231, 228, 218, 0.16);
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-image: url("../img/get_play.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.get__video-play:hover {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(231, 228, 218, 0.05);
  background-size: 24px;
}

@-webkit-keyframes bg_slideIn {
  from {
    background-position: 250% bottom;
  }
  to {
    background-position: 100% bottom;
  }
}

@keyframes bg_slideIn {
  from {
    background-position: 250% bottom;
  }
  to {
    background-position: 100% bottom;
  }
}

@media (max-width: 959px) {
  .get {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .get__black {
    width: 100%;
    height: 370px;
    background-image: url("../img/get_pioner_m.jpg");
    background-position: right bottom;
  }
  .get__black-text {
    -webkit-text-stroke: 0;
    font-weight: 400;
  }
  .get__video {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 767px) {
  .get__black {
    padding: 20px 0 155px;
    height: 350px;
  }
  .get__black-text {
    font-size: 12px;
    text-align: center;
    background-size: 13px;
    background-position: center top;
    padding-top: 25px;
    margin: 0 auto;
  }
}

.format {
  padding: 40px 0;
  background-color: #fefbf3;
  letter-spacing: 0.025em;
}

.format__heading {
  font-size: 36px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
}

.format__heading .outline {
  color: #fefbf3;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}

.format__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  gap: 20px;
}

.format__item {
  color: #1a1a1a;
  width: 300px;
  padding-top: 65px;
  background-repeat: no-repeat;
}

.format__item-head {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

.format__item-text {
  font-weight: 600;
  font-size: 18px;
}

.format__item:nth-child(1) {
  background-image: url("../img/format_star_yellow.svg");
}

.format__item:nth-child(2) {
  background-image: url("../img/format_star_green.svg");
}

.format__item:nth-child(3) {
  background-image: url("../img/format_star_orange.svg");
}

@media (max-width: 767px) {
  .format {
    background-color: white;
  }
  .format__heading {
    font-size: 24px;
    line-height: 140%;
  }
  .format__heading .outline {
    color: white;
  }
  .format__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  .format__item {
    width: 100%;
    padding-top: 5px;
    padding-left: 50px;
    margin-bottom: 20px;
  }
  .format__item-head {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
  }
  .format__item-text {
    font-weight: 600;
    font-size: 14px;
  }
}

.host {
  position: relative;
  background-color: #eee6db;
  min-height: 605px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.host .block {
  width: 50%;
  padding: 65px 0;
  position: relative;
}

.host .bulat {
  position: absolute;
  width: 100%;
  max-width: 630px;
  bottom: 0;
  left: -100%;
}

.host .camera {
  position: absolute;
  top: calc(50% - 170px);
  right: 0;
}

.host__header {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

.host__header .outline {
  color: #eee6db;
  -webkit-text-stroke: 1px black;
}

.host__text {
  font-weight: 900;
  font-size: 24px;
  padding-top: 65px;
}

.host__text .price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 50px;
  background-color: #ff613a;
  border-radius: 30px;
  color: #eee6db;
  padding: 5px 10px 0;
  margin-top: 25px;
}

.host a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 410px;
  width: 100%;
  height: 70px;
  border-radius: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #eee6db;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 70px;
}

.host a:hover {
  background-color: #00a388;
  -webkit-box-shadow: 0 0 15px 0 #00a388;
          box-shadow: 0 0 15px 0 #00a388;
}

@media (max-width: 1359px) {
  .host .bulat {
    max-width: 530px;
  }
  .host .camera {
    width: 280px;
  }
}

@media (max-width: 959px) {
  .host {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .host .block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 65px 0 0;
  }
  .host__header {
    font-size: 20px;
    line-height: 24px;
  }
  .host .bulat {
    position: static;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .host .camera {
    display: none;
  }
  .host__header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .host__text {
    color: #eee6db;
    height: 305px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    padding-top: 30px;
    background-color: #1a1a1a;
    text-align: center;
  }
  .host__text .price {
    margin-top: 40px;
  }
  .host a {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    color: #1a1a1a;
    background-color: #eee6db;
    width: 280px;
    height: 60px;
    font-size: 18px;
    margin-top: 30px;
  }
}

.easy {
  background-color: #ffb361;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.easy__text {
  width: 50%;
  background-color: #fefbf3;
  padding-top: 90px;
  padding-bottom: 60px;
}

.easy__text .content {
  padding: 0 15px;
}

.easy__text .heading {
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 90px;
}

.easy__text .heading .accent {
  background-color: #ffb361;
  color: #fefbf3;
}

.easy__text .question {
  font-size: 24px;
  line-height: 115%;
  max-width: 440px;
}

.easy__text .question .accent {
  text-transform: uppercase;
  background-color: black;
  color: #fefbf3;
  margin-bottom: 24px;
}

.easy__bulat {
  width: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000), color-stop(60%, #0000), to(#000c)), url(../img/easy_bulat.jpg);
  background-image: linear-gradient(#0000, #0000 60%, #000c), url(../img/easy_bulat.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 70px 80px;
  color: #fefbf3;
}

.easy__bulat .name {
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
}

.easy__bulat .description {
  font-size: 18px;
  line-height: 125%;
}

@media (max-width: 959px) {
  .easy__text {
    padding-left: 15px;
  }
  .easy__text .heading {
    font-size: 22px;
    margin-bottom: 25px;
  }
  .easy__text .heading .accent {
    font-size: 24px;
  }
  .easy__text .question {
    font-size: 18px;
  }
  .easy__text .question .accent {
    font-size: 24px;
  }
  .easy__bulat {
    padding: 30px 20px;
  }
  .easy__bulat .name {
    font-size: 24px;
  }
  .easy__bulat .description {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .easy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .easy__bulat {
    width: 100%;
    height: 425px;
  }
  .easy__text {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */