$sm: 767px;
$md: 959px;
$lg: 1359px;

$grey: #1a1a1a;
$pearl: #eae6d3;
$white: #e7e4da;
$orange: #ff613a;
$green: #00a388;
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Artegra Sans", sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1160px;
    @media (max-width: $md) {
        max-width: 920px;
    }
    @media (max-width: $sm) {
        max-width: 300px;
    }
}
.header {
    min-height: 540px;
    background-color: $grey;
    background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
    background-repeat: no-repeat;
    background-position: 100px 150px, right top;
    padding-top: 28px;
    &__runline {
        background-color: $orange;
        overflow: hidden;
        display: flex;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 32px;
        &-content {
            display: flex;
            align-items: center;
            min-width: 955px;
            height: 65px;
            animation: runline 12s linear 0s infinite;
            .star {
                width: 38px;
                height: 38px;
                margin: 0 65px;
                background-image: url("../img/header_star.svg");
                background-repeat: no-repeat;
                background-size: contain;
            }
            .black {
                color: $grey;
                font-size: 24px;
            }
            .white {
                color: $pearl;
                font-size: 28px;
            }
        }
        @keyframes runline {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-100%);
            }
        }
    }
    &__text {
        color: $pearl;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        max-width: 640px;
        margin: 100px auto 0;
        .accent {
            background-color: $orange;
            padding: 15px 10px 10px;
            line-height: 32px;
            font-size: 30px;
            max-width: 460px;
            margin: 0 auto;
        }
    }
    @media (max-width: $lg) {
        padding-top: 18px;
        min-height: 420px;
        background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
        background-size: 200px, 300px;
        background-position: 75px 150px, right top;
        &__runline {
            &-content {
                min-width: 335px;
                height: 26px;
                .star {
                    width: 16px;
                    height: 16px;
                    margin: 0 10px;
                }
                .black {
                    font-size: 10px;
                }
                .white {
                    font-size: 12px;
                }
            }
        }
        &__text {
            font-size: 18px;
            line-height: 26px;
            max-width: 400px;
            .accent {
                padding: 10px 10px 5px;
                font-size: 18px;
                line-height: 26px;
                max-width: 260px;
            }
        }
    }
    @media (max-width: $md) {
        background-image: url("../img/header_logo.svg"), url("../img/header_camera.jpg");
        background-position: 0 60px, right top;
        background-size: 170px, 200px;
        min-height: 300px;
        &__text {
            margin-top: 50px;
        }
    }
    @media (max-width: $sm) {
        background-image: url("../img/header_logo.svg"), url("../img/header_camera_m.jpg");
        background-size: 170px, auto;
        background-position: 0 60px, right top;
        min-height: 460px;
        &__text {
            max-width: 280px;
            margin-top: 220px;
            text-align: left;
            .accent {
                text-align: left;
                margin: 0;
                padding: 5px 5px 2px;
            }
        }
    }
}
.get {
    position: relative;
    background-color: black;
    background-image: url("../img/get_pioner.jpg");
    background-position: calc(100% - 39vw) bottom;
    background-repeat: no-repeat;
    &__black {
        width: 100%;
        height: 100%;
        padding: 70px 0 60px;
        &-text {
            background-image: url("../img/get_arrows.svg");
            background-repeat: no-repeat;
            padding-top: 60px;
            max-width: 275px;
            color: $white;
            font-weight: 900;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
    &__video {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 40%;
        top: 0;
        right: 0;
        background-image: url("../img/get_bulat.jpg");
        background-position: center 30%;
        background-size: cover;
        background-color: $green;
        &-play {
            display: block;
            border: 2px solid rgba(231, 228, 218, 0.16);
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-image: url("../img/get_play.svg");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.1s;
            animation: pulse 1s ease-in-out 0s infinite alternate;
        }
        &-play:hover {
            width: 80px;
            height: 80px;
            border: 1px solid rgba(231, 228, 218, 0.05);
            background-size: 24px;
            animation: pulse1 0.5s ease-in-out 0s infinite alternate;
        }
        @keyframes pulse {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.2);
            }
        }
        @keyframes pulse1 {
            from {
                transform: scale(1.2);
            }
            to {
                transform: scale(1.4);
            }
        }
    }
    @media (max-width: $lg) {
        background-position: calc(100% - 38vw) bottom;
        background-size: 400px;
    }
    @media (max-width: $md) {
        background-position: right calc(100% - 200px);
        .container {
            max-width: 100%;
        }
        &__video {
            width: calc(100% + 30px);
            height: 200px;
            position: relative;
            margin: 0 -15px;
        }
    }
    @media (max-width: $sm) {
        background-image: url("../img/get_pioner_m.jpg");
        background-position: right calc(100% - 200px);
        background-size: 260px;
        &__black {
            padding: 20px 0 155px;
            &-text {
                font-size: 12px;
                text-align: center;
                background-size: 13px;
                background-position: center top;
                padding-top: 25px;
                margin: 0 auto;
            }
        }
    }
}
.format {
    padding: 40px 0;
    background-color: $pearl;
    letter-spacing: 0.025em;
    &__heading {
        font-size: 36px;
        line-height: 50px;
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        .outline {
            color: $pearl;
            font-weight: 800;
            text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        gap: 20px
    }
    &__item {
        color: $grey;
        width: 300px;
        padding-top: 65px;
        background-repeat: no-repeat;
        &-head {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 24px;
        }
        &-text {
            font-weight: 600;
            font-size: 18px;
        }
        &:nth-child(1) {
            background-image: url('../img/format_star_yellow.svg');
        }
        &:nth-child(2) {
            background-image: url('../img/format_star_green.svg');
        }
        &:nth-child(3) {
            background-image: url('../img/format_star_orange.svg');
        }
    }
    @media (max-width: $sm) {
        background-color: white;
        &__heading {
            .outline {
                color: white;
            }
        }
        &__list {
            flex-direction: column;
            padding-top: 30px;
        }
        &__item {
            width: 100%;
            padding-top: 5px;
            padding-left: 50px;
            margin-bottom: 20px;
            &-head {
                text-transform: uppercase;
                font-weight: 900;
                font-size: 18px;
            }
            &-text {
                font-weight: 600;
                font-size: 14px;
            }
        }
    }
}

@font-face {
    font-family: "Artegra Sans";
    src: url("../fonts/ArtegraSans-ExtraBold.eot");
    src: local("Artegra Sans ExtraBold"), local("ArtegraSans-ExtraBold"),
        url("../fonts/ArtegraSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ArtegraSans-ExtraBold.woff2") format("woff2"),
        url("../fonts/ArtegraSans-ExtraBold.woff") format("woff"),
        url("../fonts/ArtegraSans-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Artegra Sans";
    src: url("../fonts/ArtegraSans-Black.eot");
    src: local("Artegra Sans Black"), local("ArtegraSans-Black"),
        url("../fonts/ArtegraSans-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ArtegraSans-Black.woff2") format("woff2"), url("../fonts/ArtegraSans-Black.woff") format("woff"),
        url("../fonts/ArtegraSans-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Artegra Sans";
    src: url("../fonts/ArtegraSans-Bold.eot");
    src: local("Artegra Sans Bold"), local("ArtegraSans-Bold"),
        url("../fonts/ArtegraSans-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ArtegraSans-Bold.woff2") format("woff2"), url("../fonts/ArtegraSans-Bold.woff") format("woff"),
        url("../fonts/ArtegraSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Artegra Sans";
    src: url("../fonts/ArtegraSans-SemiBold.eot");
    src: local("Artegra Sans SemiBold"), local("ArtegraSans-SemiBold"),
        url("../fonts/ArtegraSans-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ArtegraSans-SemiBold.woff2") format("woff2"),
        url("../fonts/ArtegraSans-SemiBold.woff") format("woff"),
        url("../fonts/ArtegraSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
